<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwhh.stiawareness">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StiAwareness">
        <activity
            android:name=".app.AwarenessDoctor"
            android:label="@string/title_activity_awareness_doctor"
            android:theme="@style/Theme.StiAwareness.NoActionBar"></activity>
        <activity
            android:name=".app.DoctorRegistry"
            android:label="@string/title_activity_doctor_registry"
            android:theme="@style/Theme.StiAwareness.NoActionBar" />
        <activity
            android:name=".app.AvailableDoctors"
            android:label="@string/title_activity_available_doctors"
            android:theme="@style/Theme.StiAwareness.NoActionBar" />
        <activity
            android:name=".app.SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.StiAwareness.NoActionBar" />
        <activity
            android:name=".app.Awareness"
            android:label="@string/title_activity_awareness"
            android:theme="@style/Theme.StiAwareness.NoActionBar" />
        <activity
            android:name=".app.LogIn"
            android:label="StiAwareness App"
            android:theme="@style/Theme.StiAwareness.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>